<!DOCTYPE html>
<html>
<head>
  <title>HomeScreen</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Syncopate:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Great+Vibes|Playball' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="clearance_links">
    <% if signed_in? %>
      Welcome <%= current_user.email %>
      <%= link_to (fa_icon "sign-out", text: "sign out"), sign_out_path, method: :delete %>
    <% else %>
      <%= link_to (fa_icon "fa fa-motorcycle", text: "sign in"), sign_in_path %>
    <% end %>

    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>
  </div>

  <%= yield %>

  <%= render 'shared/footer' %>

</body>
</html>

